[submodule "libad53x4"]
	path = libad53x4
	url = git@github.com:matthiasbock/libad53x4.git
[submodule "nordic"]
	path = nordic
	url = git@github.com:matthiasbock/nRF51-nordic.git
[submodule "sdk"]
	path = sdk
	url = git@github.com:matthiasbock/nRF51-sdk.git
